@import '/src/styles/breakpoints';
@import '/src/styles/variaveis';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400&display=swap');
$massas: #d73b3b;
$carnes: #30201e;
$sobremesas: #e6c864;
$veganos: #80aa40;
$nc: #1c1b22;

.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item {
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 23px;
    height: 100vh;


    border-style: solid;
    border-color: #CCC;
    background-color: #e7e4e4;
    border-radius: 20px;


    &__titulo {
        grid-area: 1 / 2 / 4 / 2;

        h2 {
            font-family: "Noto Sans", sans-serif;
            font-size: 50px;
        }

        a {
            position: relative;
            margin-top: 50px;
            bottom: 30px;
        }
    }



    &__imagem {

        grid-area: 2 / 2 / 4 / 4;


        min-width: 20px;

        @media (max-width: $desktop_xsm) {
            width: 100%;
        }

        img {
            border-radius: 8px;
            width: 100%;
        }
    }

    &__tags {

        grid-area: 2 / 4 / 2 / 4;
        margin-top: 50px;
        display: grid;
        grid-template-rows: repeat(1fr);

        a {

            font-size: 20px;
            font-family: "Noto Sans", sans-serif;
            text-decoration: underline;

        }

        &__tipo {
            grid-row-start: 1;
            grid-row-end: 1;
            width: 40%;
            font-weight: bold;
            display: flex;
            height: 50%;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
            }

            &__nc {
                background-color: $nc;
                color: white;
            }

            &__massas {
                background-color: $massas;
                color: white;
            }

            &__carnes {
                background-color: $carnes;
                color: white;
            }

            &__sobremesas {
                background-color: $sobremesas;
            }

            &__veganos {
                background-color: $veganos;
            }
        }

        &__size {
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }

    &__ingredientes {
        grid-area: 4 / 2 / 7 / 5;
    }
}